@import "../../../defaultStyles/Colors.scss";
@import "../../../defaultStyles/Typography.scss";
@import "../../../defaultStyles/MediaQueries.scss";

.dashboard {
  display: flex;
  height: 100%;
  &-left{
    width: 25%;
    // background-color: khaki;
    height: 100%;
    padding: 20px;
    border-right: 1px solid #908d8d;
  }
  &-middle{
    padding: 20px;
    width: 25%;
    // background-color: deeppink;
  }
  &-right{
    width: 50%;
    // background-color: aqua;
  }
}
