$primaryColor: #007683;
$secondaryColor: #5fbb97;
$lightSecondaryColor: #8ddca4;
$whiteColor: #ffffff;
$blackColor: #000000;
$darkColor: #060e0c;
$borderColor: #ececec;
//add other default colors here

$grayColor: #f7f7f7;
$lightBlackColor: #757474;
$greenColor: #3f2d66;
$lightGray: #eef2ef;
$lightGreen: #19352a;
$gray: #808080;
$placeholderGray: #a9a9ac;
$defaultTrack: #dcdcdc;
$activeTrackColor: #311f36;

$pageWidth: 1400px;
$base-padding: 3.1rem;
$mobile-padding: 1rem;
