@import '../../../../defaultStyles/Colors.scss';
@import '../../../../defaultStyles/Typography.scss';
@import '../../../../defaultStyles/MediaQueries.scss';

.settings-saved{
    display: flex;
    height: 100%;
    &-left{
        width: 25%;
        // height: 100%;
        border-right: 1px solid #908d8d;
        // padding: 1em;
    }
    &-middle {
        // padding: 200px;
        width: 25%;
        margin: 0 1em;
        // background-color: deeppink;
      }
      &-right {
        width: 50%;
        // background-color: aqua;
      }
}