@import "../../../defaultStyles/Colors.scss";
@import "../../../defaultStyles/Typography.scss";
@import "../../../defaultStyles/MediaQueries.scss";

.vision__container {
  display: grid;
  grid-template-columns: 40% 30%;
  justify-content: space-between;

  .vision__text {
    padding-left: $base-padding;
  }

  h1 {
    @include CircularTheme(700, 23px, normal, 29.09px);
    color: $primaryColor;
  }
  p {
    @include CircularTheme(400, 13px, normal, 16.44px);
  }

  .vision__bg {
    height: 30vh;
    background-image: url("../../../assets/images/Rectangle.png");
  }
  .our__vision {
    height: 30vh;
    background-image: url("../../../assets/images/Rectangle\ 62.png");
    background-repeat: no-repeat;
  }
  div:last-child {
    margin-bottom: 10rem;
  }
}
