.widget-container{
    border-radius: 0.5em;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0 0 1em 1em;
    text-align: center;
    box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.1), 0 6px 25px 0 rgba(0, 0, 0, 0.1), 0 6px 30px 0 rgba(0, 0, 0, 0.1);
}